#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --gateway=192.168.254.1 --ip=192.168.254.10 --nameserver=192.168.254.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=wp.snp.acit

# Root password
rootpw --iscrypted $6$6Uu1/fhDWrD5RaaJ$7wZ.4TQPTG/szwI56wA38deYXBhS.iBz0mA4n70int/1JL4qLBMniubrPdYWF4pt421mPlOytTElZbSmRlL67/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=admin --password=$6$O/vksuT4XbIfZTwU$jaOW6cgHGrEXPUqv5zhD6VkJa4NIm5MZFTrCL83aj3l1YJ2vPBk/1c1Xi8ezKN5GE7sfXAO1nQQYydVJLd7hH/ --iscrypted --gecos="admin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=50 --notstrict --nochanges --notempty
pwpolicy luks --minlen=6 --minquality=50 --notstrict --nochanges --notempty
%end
